<!-- This file is the main window for viewing the graphs -->

<%- include ('./partials/dashboard.ejs') %>


<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="../../stylesheets/standard-style.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">Loaded Primary Data
        </h1>
        </br>
        <em style="color:white;margin-left:50px">Session Name: <%= session.name %></em>
        <em style="color:white;margin-left:50px">Date Created: <%= session.dateCreated %></em>
        </div>
        <button class="btn btn-md btn-success" onclick="window.location.href = '/session/POS/<%= session._id %>'">Map Data</button>
        <button class="btn btn-md btn-primary" onclick="screenshot()">Screenshot</button>
        <!-- https://stackoverflow.com/questions/45149062/chart-js-how-to-show-cursor-pointer-for-labels-legends-in-line-chart USE this for cursor -->
        <div id="canvas-div" style="height:72.5%">
            <div style="height:40%;width:100%;margin: 0 auto;">
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart1"></canvas>
            </div>
            <div style="height:40%;width:100%;margin: 0 auto">
            <!-- <input type="range" id="slider2" orient="vertical"
                style="display:inline-block;-webkit-appearance: slider-vertical;width:10px;height:25%"> -->
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart2"></canvas>
            </div>
            <!-- <input type="range" id="slider3" orient="vertical"
                style="display:inline-block;-webkit-appearance: slider-vertical;width:10px;height:25%"> -->
            <div style="height:40%;width:100%;margin: 0 auto;">
            <canvas style="background-color: black;height:100%;width:100%"
                id="myChart3"></canvas>
            </div>
            <a id="url" download style="display:none"></a>
        </div>
        <input type="range" max="100" min="0">
    </div>
<button class="btn btn-primary btn-sm" onclick="RetreatGraph()">←</button>
<input id="increment" type="number" value="10" increment="10" style="width:50px">
<button class="btn btn-primary btn-sm" onclick="AdvanceGraph()">→</button>

</body>
<script src="/public/packages/chart.js/dist/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/scripts/loaded-prim-charts.js" ></script>
<script src="/scripts/functions.js" ></script>

<script>
    var data = <%- JSON.stringify(session)%>

    function screenshot(){
        //take screenshots of the graphs
        console.log("hello");
        var url = myLineChart2.toBase64Image()
        document.getElementById("url").href=url;
        document.getElementById('url').click();
    }

    function buttonPressed() {
        update(10, '14:00');
    }

    function update(data, label, chart) {
        chart.data.datasets[0].data.push(data);
        chart.data.datasets[0].data.shift();
        chart.data.labels.push(label);
        chart.data.labels.shift();
        chart.update();
    }

    function updateBackwards(data, label, chart){
        chart.data.datasets[0].data.unshift(data);
        chart.data.datasets[0].data.pop();
        chart.data.labels.unshift(label);
        chart.data.labels.pop();
        chart.update();
    }

    <% for(var i = 0; i < 250; i++){ %>
        update('<%=session.PRIData[i][0]%>','<%=session.PRIData[i][3]%>', myLineChart1)
        update('<%=session.PRIData[i][1]%>','<%=session.PRIData[i][3]%>', myLineChart2)
        update('<%=session.PRIData[i][2]%>','<%=session.PRIData[i][3]%>', myLineChart3)
    <% } %>
    
    var x =0
    var y =10
    function AdvanceGraph(){
            console.log(x);
            console.log(y);
            var inc = 10
            for(var i = x; i < y; i++){
                if( i+250 < data.PRIData.length){
            update(data.PRIData[i+250][0],data.PRIData[i+250][3], myLineChart1)
            update(data.PRIData[i+250][1],data.PRIData[i+250][3], myLineChart2)
            update(data.PRIData[i+250][2],data.PRIData[i+250][3], myLineChart3)   
            }}

            if( x+250 < data.PRIData.length){
            x+=inc
            y+=inc
            }
        
    }

    function RetreatGraph(){
        // console.log(x);
        // console.log(y);
        var inc = $('#increment').val();

        for(var i = y; i > x; i--){
            if(i > 0){
                console.log(i);
                updateBackwards(data.PRIData[i][0], data.PRIData[i][3], myLineChart1)
                updateBackwards(data.PRIData[i][1], data.PRIData[i][3], myLineChart2)
                updateBackwards(data.PRIData[i][2], data.PRIData[i][3], myLineChart3)
            }
        }
        if(i >= 0){
            x-=inc
            y-=inc
        }
    }

    //We need a function to scroll through data and to zoom in or out of data


</script>
</html>