<!-- This file is the main window for viewing the graphs -->

<%- include ('./partials/dashboard.ejs') %>


<html>

<head>
    
    <link rel="stylesheet" href="../../stylesheets/standard-style.css">

</head>

<body>
    <div style="height:92.5vh;overflow: hidden;">
        <div style="width:95%;height:auto;margin-bottom:20px;">
        <img src="/public/uon.png" style="height:auto;width:200px;display:block-inline;margin-top:20px;float:right;">
        <h1 style="font-family: helvetica; font-weight:100;display:inline-block;color:white;margin-left:50px;margin-top:30px">Loaded ECU Data
        </h1>
        </br>
        <em style="color:white;margin-left:50px">Session Name: <%= session.name %></em>
        <em style="color:white;margin-left:50px">Date Created: <%= session.dateCreated %></em>
        </div>
        <button class="btn btn-md btn-success" onclick="window.location.href = '/session/PRI/<%= session._id %>'">Primary Data</button>
        <button class="btn btn-md btn-success" onclick="window.location.href = '/session/POS/<%= session._id %>'">Map Data</button>
        <button class="btn btn-md btn-primary" onclick="screenshot()">Screenshot</button>
        <!-- https://stackoverflow.com/questions/45149062/chart-js-how-to-show-cursor-pointer-for-labels-legends-in-line-chart USE this for cursor -->
        <div id="canvas-div" style="height:90%;overflow-x:scroll;">
            <div style="height:30%;width:100%;margin: 0 auto;">
            <canvas style="background-color: black;height:100%;width:10000px"
                id="myChart1"></canvas>
            </div>
            <div style="height:30%;width:100%;margin: 0 auto">
            <canvas style="background-color: black;height:100%;width:10000px"
                id="myChart2"></canvas>
            </div>
            <div style="height:30%;width:100%;margin: 0 auto;">
            <canvas style="background-color: black;height:100%;width:10000px"
                id="myChart3"></canvas>
            </div>
            <a id="url" download style="display:none"></a>
        </div>
    </div>
    <label style="margin-left:20px">Add/Remove Data to the graphs: </label>
<select name="data" id="waveform-selector">
    <option value="0">accel_pedal</option>
    <option value="1">front_brake_pedal</option>
    <option value="2">rear_brake_pedal</option>
    <option value="3">steering</option>
    <option value="4">left_torque_demand</option>
    <option value="5">right_torque_demand</option>
    <option value="6">accelerometer_x</option>
    <option value="7">accelerometer_y</option>
    <option value="8">accelerometer_z</option>
    <option value="9">gyro_yaw</option>
    <option value="10">gyro_pitch</option>
    <option value="11">gyro_roll</option>
    <option value="12">ECU_state</option>
    <option value="13">vehicle_dynamics_duration</option>
    <option value="14">fault_code</option>
  </select>
  <select name="data" id="graph-selector">
    <option value="1">Graph 1</option>
    <option value="2">Graph 2</option>
    <option value="3">Graph 3</option>
  </select>
  <input id="color-of-waveform" type="color">
  <button class="btn btn-sm btn-primary" onclick="addWaveform()">Add</button>
  <button class="btn btn-sm btn-danger" onclick="removeWaveform()">Remove</button>
  <button class="btn btn-sm btn-warning" onclick="clearGraph()">Clear</button>
</div>
</body>
<script>
var data = <%- JSON.stringify(session)%>
console.log(data)
</script>
<script src="/public/packages/chart.js/dist/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/scripts/ECU-scroll-graphs.js" ></script>
<script src="/scripts/functions.js" ></script>

<script>
    var graph1_waveforms = [];
    var graph2_waveforms = [];
    var graph3_waveforms = [];

    function update(data, label, chart) {
        chart.data.datasets[0].data.push(data);
        chart.data.labels.push(label);
    }

    function addWaveform(){
        //Add Waveform to graph
        var waveform = $('#waveform-selector').val();

        var graph = $('#graph-selector').val();

        var colour = $('#color-of-waveform').val();

        var dataOBJ = {
            label: 'test1',
            borderColor: colour,
            borderWidth: 0.8,
            data: []
        }

        var data_labels = []
        var empty_data = []

        //now append the correct data to the dataOBJ
        for(var i = 0; i < data.ECUData.length; i++){
            dataOBJ.data.push(data.ECUData[i][waveform]);
            data_labels.push(data.ECUData[i][data.ECUData[i].length-1]);
            empty_data.push(' ')
        }

        myLineChart3.data.labels = data_labels;
        myLineChart3.update();

        if(graph == 1){
            graph1_waveforms.push(parseInt(waveform))
            myLineChart1.data.datasets.push(dataOBJ);
            myLineChart1.update();
        } else if (graph == 2){
            graph2_waveforms.push(parseInt(waveform))
            myLineChart2.data.datasets.push(dataOBJ);
            myLineChart2.update();
        } else if (graph == 3){
            graph3_waveforms.push(parseInt(waveform))
            myLineChart3.data.datasets.push(dataOBJ);
            myLineChart3.update();
        }
    }

    function removeWaveform(){
        //Remove waveforms from a graph
        //First check that there is the waveform in the graph
        //get value of the waveform chooser
        var waveform = $('#waveform-selector').val();
        
        //get value of the graph chooser
        var graph = $('#graph-selector').val();

        if(graph == 1 && graph1_waveforms.indexOf(parseInt(waveform)) != -1){
            graph1_waveforms.splice(graph1_waveforms.indexOf(parseInt(waveform)), 1);
            myLineChart1.data.datasets.splice(graph1_waveforms.indexOf(parseInt(waveform)))
            myLineChart1.update()
        } else if (graph == 2 && graph2_waveforms.indexOf(parseInt(waveform)) != -1){
            graph2_waveforms.splice(graph2_waveforms.indexOf(parseInt(waveform)),1)
            myLineChart2.data.datasets.splice(graph2_waveforms.indexOf(parseInt(waveform)))
            myLineChart2.update()
        } else if (graph == 3 && graph3_waveforms.indexOf(parseInt(waveform)) != -1){
            graph3_waveforms.splice(graph3_waveforms.indexOf(parseInt(waveform)), 1)
            myLineChart3.data.datasets.splice(graph3_waveforms.indexOf(parseInt(waveform)))
            myLineChart3.update()
        }
    }

    function clearGraph(){
        var graph = $('#graph-selector').val();

        if(graph == 1){
            graph1_waveforms = [];
            myLineChart1.data.datasets = [];
            myLineChart1.update()
        } else if (graph == 2){
            graph2_waveforms = [];
            myLineChart2.data.datasets = []
            myLineChart2.update()
        } else if (graph == 3){
            graph3_waveforms = []
            myLineChart3.data.datasets = []
            myLineChart3.update()
        }
    }


</script>
</html>